.container {
  display: grid;
  height: calc(100vh - 100px);
  width: 100vw;

  grid-template-columns: [line-1] 40px [line-2] 50px [line-3] auto 50px [line-5] 40px [lin6];
  grid-template-rows: [row-line-first] 25% [row-line-second] 100px auto [row-line-last];
}

.item-2 {
  grid-column: line-1 / span 3; /* span --> line-1 + 3 */
  grid-row: 1 / 2; /* count --> line-1 to index 2 (one based) */
  background-color: gainsboro;
}

.item-1 {
  grid-column: line-2 / line-3;
  grid-row: row-line-first / span 7; /* you cannot go outside the grid */
  background-color: paleturquoise;
}
